body {
  background: #96C0CE;
  font-family: helvetica;
}

#header {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 200px;
  width: 95%;
  background-color: #FEF6EB;
  border-radius: 5px;
}

#content {
  position: absolute;
  top: 230px;
  left: 20px;
  height: 600px;
  width: 95%;
}

#main {
  margin-right: 20px;
  height: 100%;
  background-color: #FEF6EB;
  border-radius: 5px;
}

#text {
  max-width: 800px;
  padding: 50px;
}

#body {
  width: 100%;
  font-size: 14pt;
  text-align: left;
  margin-top: 50px;
}

#back {
  float: left;
  background-color: #C25B56;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
}

#home {
  background-color: #C25B56;
  border-radius: 10px;
  padding: 10px;
  float: right;
  display: inline block;
  width: 100px;
  margin: 0px;

}

.disabled {
  opacity: 0.4;
}

.optionButton {
  display:inline-block;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: #C25B56;
  margin: 10px;
}

#title {
  font-size: 16pt;
}